html{
    color: #fff;
}
body {
    background-color: #373737;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}
section{
    margin-left: 15%;
}
details{
    visibility: hidden;
    position: absolute;
    margin-left: 25%;
}
.opcoes li {
    list-style: upper-latin;
}

.opcoes {
    margin-bottom: 20px;
}